

//1730px
@media (max-width: 108em) {
    html {
        font-size: 10px;
    }
}

//1680px
@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
    .top {
        &__img-2 {
            display: none;
        }
        &__img-3 {
            display: none;
        }
        &__explore::after {
            width: 6.8rem;
            right: -10.4rem;
        }
        &__find::after {
            width: 24rem;
            left: -3.9rem;
        }
    }
   
}

//1464px
@media (max-width: 91.5em) {
    html {
        font-size: 8.4px;
    }
    
}

//1456px
@media (max-width: 91em) {
    html {
        font-size: 7.9px;
    }
}

//1440px
@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

//1280px
@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
   .header {
    &__icons {
        margin-right: 60px;
    }
    .menu {
        margin-top: 10rem;
        &__list {
            width: 100%;
            height: 30rem;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background-color: #fff;
            text-align: center;
            transition: all .5s;
            transform: translateY(-300%);
        }
        &__list.menu__list--active {
            transform: translateY(0%);
            transition: all .5s;
        }
        &__list-link {
            display: block;
            padding: 1rem 0;
            color: #000;
            font-size: 4rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        &__btn {
            display: block;
            position: absolute;
            right: 1rem;
            top: 5rem;
        }
        &__list-item + .menu__list-item {
            margin-left: 0;
        }
    }
   }
   .top {
    &__title-1::before {
        display: none;
    }
    &__title-1::after {
        display: none;
    }
    &__image-1 {
        margin-top: 4rem;
    } 
    
   }
}

//1152px
@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
    .top {
        &__find::after {
            display: none;
        }
        &__social-items {
            margin-top: 2rem;
        }
    }
}

//1024px
@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

//940px
@media (max-width: 58em) {
    html {
        font-size: 5px;
    }
    .top {
        &__explore::after {
            display: none;
        }
    }
}

//852px
@media (max-width: 53em) {
    html {
        font-size: 5px;
    }
}

//768px
@media (max-width: 48em) {
    html {
        font-size: 6px;
    }
    
    .top {
        &__content {
            text-align: center;
        }
        &__image {
            display: none;
        }
        &__text {
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        &__data {
            justify-content: space-around;
        }
        &__find {
            display: flex;
            justify-content: center;
        }
        &__social-items {
            flex-wrap: wrap;
        }
    }
    .seller {
        &__title {
            transform: translateX(0);
            opacity: 1;
        }
        &__text {
            transform: translateX(0);
            opacity: 1;
        }
        &__items {
            transform: translateX(0);
            opacity: 1;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;
        }
        &__item {
            margin-bottom: 2rem;
        }
    }
    .team {
        &__images {
            display: none;
        }
        &__content {
            width: 80rem;
            margin: 0 auto;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
        }
        &__title {
            width: 80rem;
            margin: 0 auto;
            text-align: center;
        }
        &__text {
            text-align: center;
            margin: 0 auto;
            padding-top: 2rem;
            padding-bottom: 3rem;
        }
        
    }
    .product {
        &__items {
            transform: translateX(0);
            opacity: 1;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;
        }
        &__item {
            margin-bottom: 2rem;
        }
    }
    .collection {
        &__image {
            display: none;
        }
        &__content {
            margin: 0 auto;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
}

//704px
@media (max-width: 44em) {
    html {
        font-size: 6px;
    }
    .seller {
        &__items {
            display: block;
        }
        &__item {
            margin-top: 30rem;
            width: 100%;
            height: 60rem;
        }
    }
}

//620px
@media (max-width: 38em) {
    html {
        font-size: 4.2px;
    }
}

//544px
@media (max-width: 34em) {
    html {
        font-size: 4px;
    }
}

//480px
@media (max-width: 30em) {
    html {
        font-size: 3px;
    }
    .product {
        flex-wrap: nowrap;
        display: block;
    }
}

//416px
@media (max-width: 26em) {
    html {
        font-size: 2.8px;
    }
}

//336px
@media (max-width: 21em) {
    html {
        font-size: 2.5px;
    }
}